apiVersion: v1
kind: Secret
metadata:
  name: private-repo
  namespace: openshift-gitops
  labels:
    argocd.argoproj.io/secret-type: repo-creds
stringData:
  type: git
  url: git@{{ ipv4_address | first }}:repos
  sshPrivateKey: |
{{ lookup('ansible.builtin.file', common_ssh_key ) | indent(4, true) }}