{% if cluster is defined %}
# General cluster-level information
cluster:
{{ cluster | from_yaml | to_nice_yaml }}
{% endif %}
{% if mtv is defined %}
# Migration Toolkit Operator config
mtv:
  {{ mtv | to_nice_yaml | indent(2) }}
{% endif %}
{% if nmstate is defined %}
# Kubernetes NMstate Operator config
nmstate:
  {{ nmstate | to_nice_yaml | indent(2) }}
{% endif %}
{% if nncps is defined %}
#Machine configs (requires nmstate operator installed)
nncps:
  {{ nncps | to_nice_yaml | indent(2) }}
{% endif %}
{% if ldap is defined %}
# LDAP configuration.
ldap:
  {{ ldap | to_nice_yaml | indent(2) }}
{% endif %}
{% if chrony is defined %}
# Chrony configuration.
chrony:
  {{ chrony | to_nice_yaml | indent(2) }}
{% endif %}
{% if storage is defined %}
# Storage settings for the cluster.
storage:
  {{ storage | to_nice_yaml | indent(2) }}
{% endif %}