apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ day2_app_name if day2_app_name is defined else "cluster-day2" }}
  namespace: openshift-gitops
spec:
  destination:
    server: https://kubernetes.default.svc
  project: default
  source:
    helm:
      valueFiles:
      - ansible_values.yaml
    path: ./helm/openshift-gitops-day2
    repoURL: git@{{ ipv4_address | first }}:repos/config.git
    targetRevision: {{ argo_sync_ref if argo_sync_ref is defined else "HEAD" }}
  syncPolicy:
    {{ syncPolicy if syncPolicy is defined else "automated" }}: {}
