# General cluster-level information
cluster:
  # Used in the proxy to specify the certs to use there.
  # Used in proxy-custom-ca-cm.yaml in turn used by proxy.yaml
  ca:
    {% if not none(cluster["ca"]) %}
    testing
    {% endif %}