apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cluster-day2-stage3
  namespace: openshift-gitops
spec:
  destination:
    server: https://kubernetes.default.svc
  project: default
  source:
    helm:
      valueFiles:
      - ansible_values.yaml
    path: ./helm/stage3
    repoURL: git@{{ ipv4_address | first  }}:repos/config
    targetRevision: {{ argo_sync_ref if argo_sync_ref is defined else "HEAD" }}
  syncPolicy:
    manual: {}
