apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ stage3_app_name if stage3_app_name is defined else "cluster-day2-stage3" }}
  namespace: openshift-gitops
spec:
  destination:
    server: https://kubernetes.default.svc
  project: default
  source:
    helm:
      valueFiles:
      - ansible_values.yaml
    path: ./helm/stage3
    repoURL: git@{{ ipv4_address | first  }}:repos/config.git
    targetRevision: {{ current_branch if current_branch is defined else "HEAD" }}
  syncPolicy:
    {{ syncPolicy if syncPolicy is defined else "automated" }}: {}
