{% if namespaces is defined %}
# Namespaces required by operators Toolkit Operator config
namespaces:
  {{ namespaces | to_nice_yaml | indent(2) }}
{% endif %}

{% if operators is defined %}
# Namespaces required by operators Toolkit Operator config
operators:
  {{ operators | to_nice_yaml | indent(2) }}
{% endif %}

gitopsConfig:
  # The URL of the repository setup in the Ansible step.
  url: git@{{ ipv4_address | first  }}:repos/config.git
  # The SSH key of the user that ran the Ansible step, used to connect to the git repo
  sshPrivateKey: |
    {{ lookup('ansible.builtin.file', common_ssh_key) | indent }}
  # only change these values if needed (the template has defaults set):
  # namespace: openshift-gitops
  # secretName: private-repo

